@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Netflix-inspired Dark Theme */
  --background: #141414;
  --surface: #181818;
  --surface-hover: #2f2f2f;

  --primary: #E50914;
  /* Netflix Red */
  --primary-hover: #b20710;

  --text-main: #FFFFFF;
  --text-muted: #B3B3B3;

  --border: #404040;

  --success: #46d369;
  --warning: #ffa00a;
  --error: #e50914;
}

body {
  color: var(--text-main);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}